<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
	</head>
<body>
   	<header> 
		<h1>CONOCIENDO LA MATERIA PROGRAMACION VISUAL</h1>
	</header>
	<nav>
	  <a href="#seccion1">#¿Que contenido tenemos en Pvisual?</a>
	  <a href="#seccion2">#El lenguaje java</a>
	  <a href="#seccion3">#¿Que es Html?</a>
	</nav>
	<main>
		<section id="seccion1">
			<h2>Contenidos de Programacion Visual</h2>
			<p>Aprederemos conceptos fundamentales como:</p>
				<h3>Programacion en Java</h3>
				<p>Vamos a conocer los tipos de datos primitivos y referenciales de java como tambien las estructuras de datos
					mas importantes, conceptos generales del paradigma orientado a objetos, clases, objetos y colecciones.
				</p>
				<h3>Spring boot</h3>
				<p> Las arquitecturas de una aplicacion web, las herramientas necesarias a utilizar, la creacion de proyectos
					con Spring Boot en una IDE, los concepto de los controladores, la gestión de peticiones con RequestMapping una introducción a HTML
					y como esta compuesta la estructura de un documento HTML por ultimo veremos tambien una introducción a CCS y la creación de un sitio Web HTML
				</p>
				<h3>Gestion de versionamiento y dependencias</h3>
		        <p>Veremos la gestión de Proyectos mediante un sistema de control de versionamiento llamado Git integrados en una IDE
				veremos tambien una introduccion a Maven como la descripción y utilidad y tambien la descripción de la estructura de un proyecto MAVEN
			</p>
				<h3>Spring Boot MVC</h3>
			    <p>Veremos Thymeleaf como un motor de de templates, la creacion de un proyecto MVC con Spring Boot
					y thymeleaf una introducción a Bootstrap como concepto e
					implementación de componentes, grillas, buttons, cards y Breadscrumb.
				</p>
				<h3>Clases de negocio</h3>
				<p> Como crear una clase de negocios y clases de servicion, concepto de la inyeccion de dependencias y la 
					vinculacion	 entre clases de negocio con Servicios el como agregar objetos al modelo "Model" y Renderizado de la UI con Thymeleaf. 
				</p>
			    <h3>Persistencia de objetos</h3>
				<p>Vamos a ver conceptos básicos de persistencia de objetos una introducción a JPA, conexión a un motor de base de datos,
				configuración de JPA con Spring Boot. CrudRepository, JpaRepository, Query Methods, Relaciones y Sistema
				de trazas: como la configuración con Spring Boot </p>
				<h3>Manejo de formularios</h3>
				<p>Y por ultimo aprenderemos la gestión de eventos, busquedas, CRUD de clases de negocio, operaciones de negocio, Uso de @Query para
				consultas personalizadas, integración con componentes Bootstrap y Thymeleaf y la ntegración de conceptos en
				una aplicación robusta.</p>
		</section>
		<section id="seccion2">
			<h2>Lenguaje java</h2>
			<p>El lenguaje Java fue lanzado por primera vez en 1995 por Sun Microsystems, es uno de los lenguajes mas populares
				del mundo ya que es un lenguaje de alto nivel, ya que utiliza el paradigma orientado a objetos, es robusto, distribuido, interpretado
				dentro de java todos es considerado un objeto menos los tipo de datos primitivos. Actualmente en 2024 millones de desarrolladores y empresas 
				continúan utilizando Java para una variedad de aplicaciones, desde desarrollo web hasta aplicaciones móviles y empresariales. 
			</p>
			<h3>¿Como funciona?</h3>
			<p>En el lenguaje de programacion de Java todo codigo fuente que es escrito se guarda en un archivo llano con extenciones (.java) para luego ser compilado por el compilador Javac
				Todo el resultado de esta compilacion se guarda en un archivo con extenciones (.class) que contiene codigo de tipo Bytecode, ahora para poder realizar todos los procesos mencionados
			    anteriormente utiliza la herramienta de Java Launcher.
			</p>
			<h3>Componentes principales de Java</h3>
			<h4>JRE(Java Runtime Enviroment)</h4>
			<p>Este componente permite que se ejecuten aplicaciones de java en ordenadores</p>
			<h4>JDK(Java Development Kit)</h4>
			<p>Contiene todo los elementos de JRE y adiciona herramientas que facilitan al desarrollador a crear aplicaciones java</p>
			<h3>Principales ventajas y desventajas de Java</h3>
			<h4>Ventajas</h4>
			<ul>
				<li>java tiene una alta portabilidad</li>
				<li>Es un lenguaje orientado a objetos</li>
				<li>Tiene una amplia biblioteca estadar</li>
				<li>Java ofrece soporte de programas concurrentes y multitareas</li>
				<li>Es un lenguaje con seguridad robusta</li>
			</ul>
			<h4>Desventajas</h4>
			<ul>
				<li>Tiene una alta curva de aprendizaje</li>
				<li>Puede consumir mas memoria a comparacion de otros lenguajes</li>
				<li>Las aplicaciones pueden tener un tiempo de arranque mas largo</li>
				<li>Ausencia de punteros directos</li>
				<li>Problemas de escalabilidad vertical</li>
			</ul>
		</section>
		<section id="seccion3">
			<h2>¿Que es HTML?</h2>
			<p>HTML es un lenguaje de marcado de hipertexto, sirve principalmente para darle
				la estructura o el esquelo a una pagina web mediante la aplicacion de etiquetas y atributos, proporciona
			    un conjunto de elementos que permiten organizar el contenido de una pagina web de manera semantica, es un componente fundamental en el desarrollo web, 
				ya que proporciona la base sobre la cual se construyen las páginas web. Junto con CSS (Cascading Style Sheets) para el diseño y la presentación,
				 y JavaScript para la interactividad y la programación del lado del cliente, HTML forma parte de las tecnologías básicas utilizadas en el desarrollo web moderno.	
             </p>
		    <h2>Algunas etiquetas de HTML</h2>
			<table border="3">
				<tr>
					<th>Etiqueta</th>
					<th>Utilidad</th>
				</tr>
				<tr>
					<th>&lt; p &gt;</th>
					<th>Para poder escribir parrafos</th>
				</tr>
				<tr>
					<th>&lt; img &gt;</th>
					<th>Para poder colocar una imagen en la web</th>
				</tr>
				<tr>
					<th>&lt; a &gt;</th>
					<th>Para colocar un enlace en la web</th>
				</tr>
				<tr>
					<th> &lt; h1 &gt; al &lt; h6 &gt;</th>
					<th>Para poner titulos o encabezados</th>
				</tr>
				<tr>
					<th>&lt; main &gt;</th>
					<th>Para definir el contenido principal de una web</th>
				</tr>
				<tr>
					<th>&lt; nav &gt;</th>
					<th>Para indicar una barra de navegacion</th>
				</tr>
				<tr>
					<th>&lt; article &gt;</th>
				    <th>Define un articulo independiente dentro de la web</th>
				</tr>
				<tr>
					<th>&lt; seccion &gt;</th>
					<th>Para agrupar temas tematicamente relacionados</th>
				</tr>
				<tr>
					<th>&lt; aside &gt;</th>
					<th>Para definir contenido relacionado con el principal</th>
				</tr>
				<tr>
					<th>&lt; footer &gt;</th>
					<th>Para definir el pie de pagina</th>
				</tr>
			</table>
			<br>
		</section>
		<aside>
			<a href="https://html.com/" title="enlace a pagina de html.com" target="_blank">Pagina de HTML</a>
			<img src="https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/html-tagst.jpg" width="550" height="300" alt="Imagen de html">
		</aside>
		<footer>
		<p>Correo electronico: fabrizioarmada3@gmail.com</p>
		<p>Enlaces:</p>
		<a href="https://www.youtube.com/watch?v=L1oMLsiMusQ&list=PLyvsggKtwbLX9LrDnl1-K6QtYo7m0yXWB" target="_blank">Curso acerca de Java</a>
		<br>
		<a href="https://www.youtube.com/watch?v=MJkdaVFHrto&t=23s" target="_blank">Curso acerca de HTML</a>
		</footer>
	</main>
</body>
</html>